.header {
	$self: &;
	margin-bottom: 50px;

	&__inner {
		display: flex;
		align-items: center;
		min-height: 80px;

		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__logo {
		font-family: "RB", sans-serif;
		font-size: 24px;
		line-height: 1.1;
		color: #69BA43;
		text-decoration: none;
		padding: 17px 10px 17px 80px;
		background: url('./images/logo.svg') center left / 60px 60px no-repeat transparent;
		margin: 10px auto 10px 0;
	}

	&__socials {
		display: flex;
		align-items: center;
		margin-right: 25px;
		
		@include media('<=xs') {
			margin: 10px auto;
		}
	}

	&__social {
		display: block;
		width: 32px;
		height: 32px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;

		&:not(:last-child) {
			margin-right: 25px;
		}
	
		&_dsc {
			background-image: url('#{$images-path}icons-sprite.svg#icon-discord-view-green');
		}

		&_twt {
			background-image: url('#{$images-path}icons-sprite.svg#icon-twitter-view-green');
		}
	}

	&__connect {
		display: block;
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		background-color: #69BA43;
		padding: 10px;
		font-family: "RM", sans-serif;
		font-size: 14px;
		line-height: 1.1;
		min-width: 155px;
		text-align: center;
		border-radius: 40px;
		margin: 20px 0;
		
		@include media('<=xs') {
			margin: 20px auto;
		}
	}
}
